@font-face {
    font-family: 'FuenteLOL';
    src: url('./assets/BeaufortforLOL-Bold.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'FuenteLOL', sans-serif; 
}